<wamole>
	<modules>
		<bm>
			<step>20000</step>
			<autorun>false</autorun>
			<statics>
				<com.baidu.wamole.browser.StaticBrowser>
					<host>localhost</host>
					<path>C:/Program Files/Internet Explorer/IEXPLORE.EXE</path>
					<invoker>com.baidu.wamole.browser.STAFInvoker</invoker>
				</com.baidu.wamole.browser.StaticBrowser>
			</statics>
			<browsers />
		</bm>
	</modules>
	<config class="com.baidu.wamole.config.TangramConfig" />
	<projects>
		<com.baidu.wamole.model.JsProject>
			<name>t</name>
			<rootDir>F:\Workplaces\Workplace\Tangram-base</rootDir>
			<inited>false</inited>
			<parser class="com.baidu.wamole.model.TangramParser" />
			<processor class="com.baidu.wamole.process.TangramProcessor" />
			<buildSteps>
				<com.baidu.wamole.task.JsBuildStep>
					<browsers>
						<string>MSIE6.0</string>
						<string>MSIE7.0</string>
						<string>MSIE8.0</string>
						<string>CHROME</string>
						<string>GECKO</string>
					</browsers>
				</com.baidu.wamole.task.JsBuildStep>
			</buildSteps>
			<!-- <browsers>IE6,IE7,IE8,GECKO,CHROME</browsers> -->
		</com.baidu.wamole.model.JsProject>
		<com.baidu.wamole.model.JsProject>
			<name>tc</name>
			<rootDir>F:\Workplaces\Workplace\Tangram-component</rootDir>
			<inited>false</inited>
			<casepattern>/test/baidu/**/*.js</casepattern>
			<processor class="com.baidu.wamole.process.TangramComponentProcessor">
				<depend>t</depend>
			</processor>
		</com.baidu.wamole.model.JsProject>
	</projects>
</wamole>